@model MyVet.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FixedPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FixedPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
